button{
  margin-left: 10px;
  margin-right: 10px;
}

#btn-add-task {
  margin: 0;
  margin-bottom: 2rem;
  background-color: #6c757d;
  color: white;
}

#btn-add-category {
  background-color: #6c757d;
  color: white;
  margin: 0;
}

#btn-add-task:hover, #btn-add-category:hover {
  background-color: #525b63;

}


#app-add-task {
  display:none;
}

#app-add-category {
  display: none;
}


button {
  color: #6c757d;
  background-color: white;
}

td button:hover, td button:active {
  background-color: #e6ebf1;
  border: none;
}

td button:active, td button:visited, td button:focus {
  border: none;
  color: white;
}

.row-div {
  padding: 2rem 0;
}

i {
  padding-right: 0.5rem;
}
