<div class="container">
  <br>
  <h3 class="site-title text-center">ToDo Liste von {{username}}</h3>
  <div>
    <button id="btn-add-task" type="button" class="btn btn-secondary" (click)="showForm()">
      <i class="fa fa-plus" aria-hidden="true"></i>Aufgabe
    </button>
  </div>


  <button (click)="showCategoryForm()" id="btn-add-category" class="btn btn-secondary"><i class="fa fa-plus"
                                                                                          aria-hidden="true"></i>Kategorie
  </button>
  <br>
  <app-add-task id="app-add-task"></app-add-task>
  <app-add-category id="app-add-category"></app-add-category>

  <div class="container filter">
    <div class="row filterrow">
      <div class="col-3 filtercol align-items-center">
        <input id="searchinput" type="text" placeholder="Suche nach Titel oder Beschreibung..." [(ngModel)]="filterword"
               (input)="filter()">
      </div>
      <div class="col-3 filtercol">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownFilter"
                  ngbDropdownToggle>{{filtercategory == null ? 'Nach Kategorie filtern' : 'Kategorie: ' + filtercategory}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownFilter">
            <button ngbDropdownItem *ngFor="let category of categoryList"
                    (click)="filter(); filtercategory = this.category.title">{{category.title}}</button>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" *ngIf="filtercategory != null" (click)="resetFilterCategory()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <ngb-tabset>
    <ngb-tab title="Taskliste">
      <ng-template ngbTabContent>
        <div class="container">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Aufgabe</th>
              <th scope="col">Beschreibung</th>
              <th scope="col">Deadline</th>
              <th scope="col">Priorität</th>
              <th scope="col">Kategorie</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of todoList; let i = index">
              <td id="{{todo.id}}-title" [contentEditable]="editableTask == todo">{{todo.title}}</td>
              <td id="{{todo.id}}-description" [contentEditable]="editableTask == todo">{{todo.description}}</td>
              <td id="{{todo.id}}-deadline"
                  [contentEditable]="editableTask==todo">{{ todo.deadline?.toDate().toLocaleDateString() || '-'}}</td>

              <td *ngIf="editableTask != todo" id="{{todo.id}}-priority">
                <span title="{{getStringForPriority(todo.priority)}}">
                  <i class="fa {{getIconClassForPriority(todo.priority)}} " aria-hidden="true"></i></span></td>
              <td *ngIf="editableTask == todo">
                <select class="form-control" id="edit-priority" name="add-priority" [(ngModel)]="todo.priority">
                  <option [value]="5">sehr hoch</option>
                  <option [value]="4">hoch</option>
                  <option [value]="3">mittel</option>
                  <option [value]="2">niedrig</option>
                  <option [value]="1">sehr niedrig</option>
                </select>
              </td>

              <td *ngIf="editableTask != todo"
                  id="{{todo.id}}-category">{{(todo.categories[0] == null || todo.categories[0].title == null) ? '-' : todo.categories[0].title }}</td>
              <td *ngIf="editableTask == todo">
                <select *ngIf="todo.categories[0] != null" class="form-control" id="{{todo.id}}-edit-category"
                        name="category" [(ngModel)]="todo.categories[0].title">
                  <option [ngValue]="null" [selected]="todo.categories[0] == null">keine Kategorie</option>
                  <option *ngFor="let cat of categoryList" [ngValue]="cat.title"
                          [attr.selected]="todo.categories[0].title === cat.title ? true : null">
                    {{cat.title}}
                  </option>
                </select>
                <select *ngIf="todo.categories[0] == null" class="form-control" id="{{todo.id}}-edit-category-2"
                        name="category"
                        [(ngModel)]="todo.categories[0]">
                  <option [ngValue]="null" selected>keine Kategorie</option>
                  <option *ngFor="let cat of categoryList" [ngValue]="cat">
                    {{cat.title}}
                  </option>
                </select>
              </td>
              <td class="text-right" width="100px">
                <button type="button" class="btn btn-secondary" (click)="deleteTask(todo)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
              </td>
              <td width="100px">
                <button *ngIf="editableTask != todo" type="button" class="btn btn-secondary" (click)="editTask(todo)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                </button>
                <button *ngIf="editableTask== todo" type="button" class="btn btn-secondary" (click)="confirmEdit()">
                  speichern <!-- TODO: Add done svg -->
                </button>
              </td>
              <td width="100px">
                <button type="button" class="btn btn-secondary" (click)="setTaskDone(todo)">Fertig
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd"
                          d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                  </svg>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Fertige Tasks">
      <ng-template ngbTabContent>
        <div class="container">
          <table class="table table-striped" id="done-tasks">
            <thead>
            <tr>
              <th scope="col">Aufgabe</th>
              <th scope="col">Beschreibung</th>
              <th scope="col">Deadline</th>
              <th scope="col">Priorität</th>
              <th scope="col">Kategorie</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table" *ngFor="let done of doneList">
              <td id="{{done.id}}-title">{{done.title}}</td>
              <td id="{{done.id}}-description">{{done.description}}</td>
              <td id="{{done.id}}-deadline">{{ done.deadline?.toDate().toLocaleDateString() || '-'}}</td>
              <td id="{{done.id}}-priority"><span title="{{getStringForPriority(done.priority)}}"><i
                class="fa {{getIconClassForPriority(done.priority)}} "
                aria-hidden="true"></i></span></td>
              <td id="{{done.id}}-category">{{done.categories[0] == null ? '-' : done.categories[0].title }}</td>
              <td width="100px">
                <button type="button" class="btn btn-secondary" (click)="deleteTask(done)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Kategorienliste">
      <ng-template ngbTabContent>
        <div class="container" id="con-kat">
          <table class=" table table-striped">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table" *ngFor="let category of categoryList">
              <td id="{{category.title}}-title" [contentEditable]="editableCategory == category">{{category.title}}</td>
              <td width="100px">
                <button type="button" class="btn btn-secondary" (click)="deleteCategory(category)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
              </td>
              <td width="100px">
                <button *ngIf="editableCategory != category" type="button" class="btn btn-secondary"
                        (click)="editCategory(category)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                </button>
                <button *ngIf="editableCategory== category" type="button" class="btn btn-secondary"
                        (click)="confirmEditCategory()">
                  speichern <!-- TODO: Add done svg -->
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
