button {
  margin-left: 10px;
  margin-right: 10px;
}

#btn-add-task {
  margin: 0;
  margin-bottom: 2rem;
  background-color: #6c757d;
  color: white;
}

#btn-add-category {
  background-color: #6c757d;
  color: white;
  margin: 0;
}

#btn-add-task:hover, #btn-add-category:hover {
  background-color: #525b63;
}


#app-add-task {
  display: none;
}

#app-add-category {
  display: none;
}

button {
  color: #6c757d;
  background-color: transparent;
  outline: none;
}

td button:hover, td button:active {
  background-color: #e6ebf1;
  border: none;
}

td button:active, td button:visited, td button:focus {
  border: none;
  color: white;
}

.filter, .site-title {
  margin-bottom: 2rem;
  margin-top: 5rem;
}

#searchinput {
  height: 3rem;
}

.filtercol {
  padding: 0;
}

.filterrow {
  height: 7rem;
}

#dropdownFilter {
  color: #212529;
}

#dropdownFilter:active, #dropdownFilter:visited, #dropdownFilter:focus #dropdownFilter:hover {
  border: #212529;
  background-color: transparent;
}

.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover {
  border: #212529;
  background-color: transparent;
}

i {
  padding-right: 0.5rem;
}

.nav-item {
  width: 17%;
}

table {
  width: 100%;
}

.con-kat {
  width: 50%;
}
