<form (ngSubmit)="confirm()" #addTaskForm="ngForm">
  <div class="form-group" id="add_task_form">
    <h4>Neue Aufgabe erstellen</h4>
    <div>
      <label for="addTitle">Aufgabe
        <input class="form-control" type="text" id="addTitle"
               required
               name="addTitle" #name="ngModel" [(ngModel)]="newTask.title">
      </label>
    </div>

    <div>
      <label for="add-description">Beschreibung</label>
      <textarea class="form-control" type="text" id="add-description" name="description"
                [(ngModel)]="newTask.description"></textarea>
    </div>

    <div>
      <label for="add-priority">Priorität</label>
      <select class="form-control" id="add-priority" name="add-priority" [(ngModel)]="newTask.priority">
        <option [value]="5">sehr hoch</option>
        <option [value]="4">hoch</option>
        <option [value]="3">mittel</option>
        <option [value]="2">niedrig</option>
        <option [value]="1">sehr niedrig</option>
      </select>
    </div>

    <div>
      <label for="deadline">Deadline</label>
      <input
        type="date"
        id="deadline"
        name="deadline"
        class="form-control"
        required
        [(ngModel)]="deadline">
    </div>

    <div>
      <label for="add-category">Kategorie</label>
      <select class="form-control" id="add-category" name="category" [(ngModel)]="newTask.categories[0]">
        <option [ngValue]="null">keine Kategorie</option>
        <option *ngFor="let cat of getAllCategories()" [ngValue]="cat">{{cat.title}}</option>
        -->
      </select>
    </div>

    <div class="row justify-content-between">
      <div class="col">
        <button class="btn btn-secondary" type="reset" (click)="cancel()">Abbrechen</button>
      </div>
      <div class="col text-right">
        <button class="btn btn-secondary" type="submit">Bestätigen</button>
      </div>
    </div>
  </div>
</form>





