<form (ngSubmit)="confirm()" #addCategoryForm="ngForm">
  <div class="form-group" id="add_category_form">
    <h4>Neue Kategorie erstellen</h4>
    <div>
      <label for="addTitleCategory">Titel
        <input class="form-control" type="text" id="addTitleCategory"
               required
               name="addTitleCategory" #name="ngModel" [(ngModel)]="newCategory.title">
      </label>
    </div>

    <button class="btn btn-secondary" type="reset" (click)="cancel()">Abbrechen</button>
    <button class="btn btn-secondary" type="submit">Bestätigen</button>
  </div>
</form>
